.panel-default>.panel-heading,{
    
    color: yellow;
    background-color: blue;
}

.navbar-brand:hover,
.nav-link:hover
{
    color:yellow !important;
    background-color: none !important ;
}
.navbar-default .navbar-nav>li>a {
    float: left;
}

body{
    background-image: url("../images/witcher3.jpg")
    
}


.nav>li>a{
    color:yellow !important;
}
.nav>li>a:hover,
.nav>li>a:focus,
li a.selectedclass{
    /*color:yellow !important;*/
    opacity: 0.5
    background:#305871;
    background: -webkit-linear-gradient(bottom, #305871 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(bottom, #305871 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(bottom, #305871 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(to top, #305871 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.tab-content{
    color:black;
    background-color: gray;
    border: 1px solid #ddd;
}

#footer{
    color:yellow;
}
#mainbar{
    margin-top: 40px;
}
#tabs{
    margin-top: 40px;
}
#tabs>li.selectedclass{
   /*color:yellow !important;*/
    opacity: 0.5
    background:#305871;
    background: -webkit-linear-gradient(bottom, #305871 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(bottom, #305871 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(bottom, #305871 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(to top, #305871 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); 
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus,
#gsearchBtn,#gsearchBtn:hover, #gsearchBtn:focus,
#pCommentBtn,#pCommentBtn:hover, #pCommentBtn:focus {
    color:yellow;
    opacity: 0.5
    background:#305871;
    background: -webkit-linear-gradient(bottom, #305871 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(bottom, #305871 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(bottom, #305871 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(to top, #305871 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.tab-content{
    margin-top: 20px;
    border:none;

}
